[submodule "core/extern/hidapi"]
	path = core/extern/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "MantaFlext/extern/flext"]
	path = MantaFlext/extern/flext
	url = https://github.com/grrrr/flext.git
